<!DOCTYPE html>
<html>
<head>
    <title>Angular Test</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../Content/css/Style.css" rel="stylesheet" />

    <script src="../Scripts/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="../App/MyAppDemo.js"></script>
    
    <script src="../Controllers/NhanVienController.js"></script>

    <script src="../Controllers/ChucVuController.js"></script>
</head>
<body ng-app="MyAppDemo">
    <div class="col-lg-12">
        <div class="row" ng-controller="NhanVienController">
            <div class="panel-heading">Fillter: <input type="text" ng-model="fNhanVien" /></div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">THÔNG TIN NHÂN VIÊN</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                        <thead>
                            <tr>
                                <th> ID</th>
                                <th> Mã nhân viên</th>
                                <th> Tên nhân viên</th>
                                <th> Mã chức vụ</th>
                                <th> Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="nv in data|filter:fNhanVien">
                                <td>{{nv.Id}}</td>
                                <td>{{nv.MA_NV}}</td>
                                <td>{{nv.TEN_NV}}</td>
                                <td>{{nv.MA_CV}}</td>
                                <td>{{nv.EMAIL}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" ng-controller="ChucVuController">
            <div class="panel-heading">Fillter: <input type="text" ng-model="fChucVu" /></div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">THÔNG TIN CHỨC VỤ</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                        <thead>
                            <tr>
                                <th> ID</th>
                                <th> Mã chức vụ</th>
                                <th> Tên chức vụ</th>
                                <th> Lương chức vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cv in data|filter:fChucVu">
                                <td>{{cv.id}}</td>
                                <td>{{cv.mA_CV}}</td>
                                <td>{{cv.teN_CV}}</td>
                                <td>{{cv.luonG_CV}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>