@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <p>Name: <input type="text" ng-model="name"></p>
            <p ng-bind="name"></p>
        </div>

        <div>
            <p>Name: <input type="text" ng-model="name2"></p>
            <p ng-bind="name2"></p>
        </div>
        <div>
            <p>Name: <input type="text" ng-model="name"></p>
            <p ng-bind="name"></p>
        </div>
    </div>
</div>