@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="panel panel-primary" ng-init="GetAllNhanVien()">
        <div class="panel-heading">
            <h3 class="panel-title">Existing Products</h3>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                <thead>
                    <tr>
                        <th style="width:40%">Ma NV</th>
                        <th style="width:40%">Ten NV</th>
                        <th class="hidden-phone" style="width:40%">Ma CV</th>
                        <th class="hidden-phone" style="width:40%">Email</th>
                        <th class="hidden-phone" style="width:20%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="nhanvien in nhanviens">
                        <td>{{nhanvien.MA_NV}}</td>
                        <td>{{nhanvien.TEN_NV}}</td>
                        <td>{{nhanvien.MA_CV}}</td>
                        <td>{{nhanvien.EMAIL}}</td>
                        <td>
                            @*<input value="Edit" class="btn btn-info" style="width:100px;" ng-click="" type="button" />*@
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>